.container {
  display: flex;
  word-wrap: break-word;
}

.side {
  width: 200px;
  background-color: #E60044;
  text-align: center;
}

.main {
  flex: 1;
  min-width: 0;
}

.ly_box {
  padding: 10px 5px;
  margin-top: 30px;
}

.appName {
  font-size: 1.5rem;
  color: #FFF;
  font-weight: bold;
}
