// リセット
input,
textarea {
  // font-family: inherit;
  border-radius: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
}

.note {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

.title {
  margin-top: 30px;
  font-size: 2rem;
}

.detail {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
  width: 100%;
  height: 100%;
  resize: none;
}
